In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Read in Training Data
training_data = "data/Training.csv"
training_df = pd.read_csv(training_data)
training_df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [3]:
# Check Training Data
training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [4]:
# Remove City Column
training_df.drop('city', axis = 'columns', inplace=True)
training_df.head()

,enrollee_id,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [5]:
# Reheck Training Data
training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city_development_index  19158 non-null  float64
 2   gender                  14650 non-null  object
 3   relevent_experience     19158 non-null  object
 4   enrolled_university     18772 non-null  object
 5   education_level         18698 non-null  object
 6   major_discipline        16345 non-null  object
 7   experience              19093 non-null  object
 8   company_size            13220 non-null  object
 9   company_type            13018 non-null  object
 10  last_new_job            18735 non-null  object
 11  training_hours          19158 non-null  int64
 12  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(9)
memory usage: 1.9+ MB

In [6]:
# Read in Testing Data
testing_data = "data/Testing.csv"
testing_df = pd.read_csv(testing_data)
testing_df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,26581,city_1,0.847,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,50-99,NaN,2,18
1,2610,city_1,0.847,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,>4,9
2,27463,city_10,0.895,NaN,No relevent experience,no_enrollment,Masters,STEM,>20,100-500,Pvt Ltd,2,62
3,31483,city_10,0.895,NaN,No relevent experience,no_enrollment,Graduate,STEM,14,1000-4999,Pvt Ltd,NaN,40
4,11646,city_10,0.895,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,Oct-49,Pvt Ltd,1,78

In [7]:
# Check Testing Data
testing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             2129 non-null   int64
 1   city                    2129 non-null   object
 2   city_development_index  2129 non-null   float64
 3   gender                  1621 non-null   object
 4   relevent_experience     2129 non-null   object
 5   enrolled_university     2098 non-null   object
 6   education_level         2077 non-null   object
 7   major_discipline        1817 non-null   object
 8   experience              2124 non-null   object
 9   company_size            1507 non-null   object
 10  company_type            1495 non-null   object
 11  last_new_job            2089 non-null   object
 12  training_hours          2129 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 216.4+ KB

Merging Data

In [8]:
# Merge Training and Testing 
traintest_df = training_df.merge(testing_df, on=['enrollee_id', 'city_development_index'])
traintest_df['ResultFactor'] = traintest_df.Factor1 * merged.Factor2
traintest_df.head()

AttributeError: 'DataFrame' object has no attribute 'Factor1'

In [ ]:
# Check Testing Data
traintest_df.info()